<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Openterface needs local network access to connect to VNC and RDP hosts on your LAN.</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
</dict>
</plist>
